.main {
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: center;
  height: 95vh;
  width: 90%;
  color: white;
  gap: 5px;
  margin: auto;
  margin-top: 10vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTop {
  display: flex;
}

.formTopLeftInput {
  margin-right: 1% !important;
  width: 49%;
}

.formTopRightInput {
  margin-left: 1% !important;
  width: 49%;
}

.formBottomInput {
  margin: 20px 0 !important;
  width: 70%;
}

.contactButton {
  width: 25%;
  margin: 20px 0 !important;
}