.main {
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: center;
  height: 95vh;
  color: white;
  gap: 5px;
  margin-top: 5vh;
}

.summary {
  width: 35vw;
  margin-bottom: 25px;
  font-size: 18px;
}

.workBlock {
  width: 30vw;
  margin-bottom: 5px;
  border-left: 3pt solid #A3C7D6;
}

.dateRange {
  margin: 10px;
  color: #A3C7D6;
  font-size: 20px;
}

.roleTitle {
  font-size: 30px;
  margin: 20px 10px;
}

.roleDesc {
  margin: 10px;
}